/* stylelint-disable selector-max-universal, selector-max-type */
html {
  font-family: 'Helvetica Neue', 'FreeSans', 'Arial', sans-serif;
  font-size: 20px;
}

body {
  background-color: #292c30;
  color: #f9f9f9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

sup {
  font-size: 0.8em;
  line-height: 1;
  vertical-align: super;
}

a {
  color: #aaf;
}
/* stylelint-enable */
