[MASTER]
ignore=migrations
jobs=2
score=no
load-plugins=pylint_django, pylint.extensions.bad_builtin
bad-functions=print

[MESSAGES CONTROL]
disable=
  # You'll have a hard time making Django things with these enabled.
  invalid-name,
  no-self-use,
  unused-argument,
  # I like keeping it within 78 characters, but I am also not going to make
  # code uglier for the sake of fitting on a 1970s glass teletype.
  line-too-long,
  # These options more often than not just force people to write docstrings
  # for the sake of writing docstrings. Write them when they are necessary.
  # Don't write them when it's self-explanatory.
  missing-module-docstring,
  missing-function-docstring,
  missing-class-docstring

[DESIGN]
max-locals=15
max-statements=50
max-parents=15
min-public-methods=0
max-public-methods=20
