argon2-cffi==20.1.0
commonmark==0.9.1
Django==2.2.13
django-reversion==3.0.7
flake8==3.8.3
isort==4.3.21
Pillow==7.1.2
psycopg2==2.8.5
pylint==2.5.3
pylint-django==2.0.15
python-memcached==1.59
sorl-thumbnail==12.6.3
-e git+ssh://git@github.com/lewiscollard/django-markdownx.git@master#egg=django-markdownx
