<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#000">
    <title>{% block title %}{% endblock %}</title>

    {% block extra_head %}{% endblock %}
  </head>

  <body class="layout__body">
    {% block main %}{% endblock %}
  </body>
</html>
