<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="LeuIuUyPpFkUmbRYvfIYrYxTXTyto9r2L_jao7aeEiI">
    <meta name="msvalidate.01" content="D273A4B7B5E81E588C2F3B860C27A916">
    <link rel="stylesheet" href="{% static 'build/webpack/style.css' %}?last={{ settings.GIT_COMMIT_HASH }}">

    {% block meta %}{% endblock %}
    <title>{% block title %}{{ settings.SITE_NAME }} - {{ settings.SITE_DESCRIPTION }}{% endblock %}</title>

    {% block extra_head %}{% endblock %}
  </head>

  <body class="layout__body">
    <header class="header">
      <div class="header__inner">
        {% url 'posts:post_list' as homepage_url %}
        {% if request.path == homepage_url %}
          <h1 class="header__masthead">
        {% else %}
          <div class="header__masthead">
        {% endif %}
          <a href="/" class="header__masthead-link">
            <div class="header__title">
              {{ settings.SITE_NAME }}
            </div>

            <div class="header__subtitle">
              {{ settings.SITE_DESCRIPTION }}
            </div>
          </a>
        {% if request.path == homepage_url %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>
    </header>

    <div class="layout__main">
      {% block main %}{% endblock %}
    </div>


    <footer class="layout__footer">
      <div class="footer">
        <div class="footer__inner">
          <p class="footer__block">
            I'm Lewis, a web developer by day, petrolhead & cat fan by night.
          </p>

          <p class="footer__block">
            You can <a href="/post/2105744346/hello-world/">read what this blog is about</a>.
            Or you can go visit <a href="https://lewiscollard.com">my other site</a>,
            or you can go see some <a href="https://hp.lewiscollard.com/">photos I took at drift racing</a>.
          </p>

          <p class="footer__block">
            Or maybe you've other things to do today! That's fine too. ❤️
          </p>

          <p class="footer__block">
            You won't find me on social media, but email is <a href="mailto:lewis@lewiscollard.com">warmly welcomed</a>.
          </p>

          <p class="footer__block">
            The source code for this website <a href="https://github.com/lewiscollard/exhaust">is available</a>.
          </p>

          {% if request.user.is_staff and query_count %}
            <p class="footer__block">
              Query count: {{ query_count }}
            </p>
          {% endif %}
        </div>
      </div>
    </footer>

    <script src="{% static 'build/webpack/main.js' %}"></script>
  </body>
</html>
