<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000">
    <link rel="stylesheet" href="{% static 'build/webpack/style.css' %}">

    {% block meta %}{% endblock %}
    <title>{% block title %}{{ settings.SITE_NAME }} - {{ settings.SITE_DESCRIPTION }}{% endblock %}</title>

    {% block extra_head %}{% endblock %}
  </head>

  <body class="layout__body">
    <header class="header">
      <div class="header__inner">
        <div class="header__masthead">
          <a href="/" class="header__masthead-link">
            <div class="header__title">
              {{ settings.SITE_NAME }}
            </div>

            <div class="header__subtitle">
              {{ settings.SITE_DESCRIPTION }}
            </div>
          </a>
        </div>
      </div>
    </header>

    <div class="layout__main">
      {% block main %}{% endblock %}
    </div>


    <footer class="layout__footer">
      <div class="footer">
        <div class="footer__inner">
          <p class="footer__block">
            I'm Lewis, a web developer by day, petrolhead & cat fan by night.
          </p>

          <p class="footer__block">
            You can <a href="/post/9-hello-world/">read what this blog is about</a>.
            Or you can go visit <a href="https://lewiscollard.com">my other site</a>,
            or you can go see some <a href="https://hp.lewiscollard.com/">photos I took at drift racing</a>.
          </p>

          <p class="footer__block">
            Or maybe you've other things to do today! That's fine too. ❤️
          </p>

          <p class="footer__block">
            I don't do social media, but email is <a href="mailto:lewis@lewiscollard.com">warmly welcomed</a>.
          </p>
        </div>
      </div>
    </footer>

    {% if settings.DEBUG %}
      {# we don't need JS in prod, but it's nice to have for Webpack reloading #}
      <script src="{% static 'build/webpack/main.js' %}"></script>
    {% endif %}
  </body>
</html>
