.article-list__header {
  margin-bottom: $vr;
  padding-bottom: $vr;

  border-bottom: 1px solid $color-border;
}

.article-list__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.article-list__description {
  margin-top: $vr;

  line-height: 1.5;
}

.article-list__item {
  margin-bottom: $vr;
  padding-bottom: $vr;

  border-bottom: 1px solid $color-border;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;

    border-bottom: none;
  }
}

.article-list__paginator {
  margin-top: $vr;
  padding-top: $vr;

  border-top: 1px solid $color-border;
}
