.image {
  position: relative;

  display: block;

  background-color: #000;
}

.image__image {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
}

.figure {
  margin-right: auto;
  margin-left: auto;
}

.figure__caption {
  margin-top: $vr;

  font-size: 16px;
  font-style: italic;
  text-align: center;
}

.image__enlarger-link {
  position: absolute;
  top: $vr;
  right: $vr;

  display: block;
  width: 30px;
  height: 30px;

  background-image: url('/static/build/webpack/images/new-window.svg');
  background-size: 100%;

  /*
  Stops it from blending in against photos with white in the corner, e.g. here:
  https://exhaust.lewiscollard.com/post/1755005022/lynn-wisbech-railway-remnants-magdalen/
  */
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));

  @media (min-width: 768px) {
    width: 50px;
    height: 50px;
  }

  @media (hover: hover) {
    opacity: 0;

    transition: opacity 0.1s;

    .image:hover &,
    &:focus {
      opacity: 1;
    }
  }
}

.image__enlarger-text {
  /* Hide from graphical browsers, don't hide from screen readers. */
  position: absolute;

  width: 1px;
  height: 1px;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}
