.image {
  position: relative;

  display: block;

  background-color: #ddd;
}

.image__image {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
}

.figure {
  margin-right: auto;
  margin-left: auto;
}

.figure__caption {
  margin-top: $vr;

  font-size: 16px;
  font-style: italic;
  text-align: center;
}
