/* stylelint-disable selector-max-universal, selector-max-type, selector-no-qualifying-type */
.markdown {
  > *,
  blockquote p {
    margin-top: $vr;
    margin-bottom: $vr;

    line-height: 1.5;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  video {
    display: block;
    max-width: 100%;
    height: auto;
    margin: $vr auto;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  > *:first-child,
  .floater + * {
    margin-top: 0;
  }

  strong, b {
    font-weight: 700;
  }

  em, i {
    font-style: italic;
  }

  a {
    font-weight: 800;
    text-decoration: underline;

    &.button {
      text-decoration: none;

      color: #fff;
    }
  }

  ul li {
    position: relative;

    padding-left: $vr;

    &::before {
      content: '';

      position: absolute;
      top: calc(0.75em - 2px);
      left: 0;

      display: block;
      width: 5px;
      height: 5px;

      background-color: currentColor;
    }
  }

  li + li {
    margin-top: $vr / 2;
  }

  blockquote {
    position: relative;

    padding-left: 20px;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      width: 4px;

      background-color: currentColor;
    }
  }

  code,
  pre {
    font-family: monospace;
    font-size: 14px;

    background-color: #eee;
    color: #000;

    @media (prefers-color-scheme: dark) {
      background-color: #333;
      color: inherit;
    }
  }

  code {
    padding: 3px;
  }

  pre {
    padding: 10px;

    white-space: pre-wrap;

    border: 1px solid $color-border;
  }

  /* Probs shouldn't use this and should get this using <figure> and
  <figcaption> where I need it, but */
  center {
    font-style: italic;
  }

  hr {
    width: 100px;
    height: 2px;
    margin: $vr auto;

    border: 2px solid $color-border;
  }
}
/* stylelint-enable */
