.paginator {
  text-align: center;

  @media (min-width: 600px) {
    justify-content: space-between;

    display: flex;
  }
}

.paginator__item--previous {
  margin-top: $vr;

  @media (min-width: 600px) {
    margin-top: 0;
    margin-left: auto;
  }
}
