.post--unpublished {
  padding: 20px;

  background-color: #fdd;
}

.post__header {
  margin-bottom: $vr;
}

.post__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.post__title-status {
  text-transform: uppercase;

  color: #f00;
}

.post__image-wrapper {
  margin-bottom: $vr;
}

.post__footer {
  margin-top: $vr;

  font-size: 0.75rem;
  font-style: italic;
}
