.image-grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.image-grid__item {
  position: relative;

  &::before {
    content: '';

    display: block;
    padding-bottom: 75%;
  }

  .image,
  .image__image {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  .image__image {
    object-fit: cover;
  }
}
