{% load rss %}
{% comment %}
  We use the rss library for converting /relative/images/paths into
  a full URL with procotol & domain.
{% endcomment %}

{# abuse the "title" attribute as caption for figure/figcaption #}
{% if title %}
  <figure class="figure" style="max-width: {{ max_width }}px">
{% endif %}

<div class='image' style="max-width: {{ max_width }}px">
  <div class="image__padder" style="padding-bottom: {{ aspect_padding }}%"></div>
  <picture {% if not alt_text %}aria-hidden="true"{% endif %}>
    {% for format, widths in sources.items %}
      <source srcset="{% for width in widths %}{{ width.url|path_to_url }} {{ width.width}}w{% if not forloop.last %}, {% endif %}{% endfor %}" type="{{ format }}">
    {% endfor %}

    <img class="image__image"
         loading="lazy"
         src="{{ fallback_image_url|path_to_url }}"
         alt="{{ alt_text }}"
    >
  </picture>
</div>

{% if title %}
  <figcaption class="figure__caption">{{ title }}</figcaption>
  </figure>
{% endif %}
