{% load rss %}
{% comment %}
  We use the rss library for converting /relative/images/paths into
  a full URL with procotol & domain.
{% endcomment %}

{# abuse the "title" attribute as caption for figure/figcaption #}
{% if title %}
  <figure class="figure" style="max-width: {{ original.width }}px">
{% endif %}

<div class='image' style="max-width: {{ original.width }}px">
  <picture {% if not alt_text %}aria-hidden="true"{% endif %}>
    {% for source in sources %}
      <source srcset="{{ source.url }} {{ source.width}}w" type="{{ source.mime_type }}">
    {% endfor %}

    <img class="image__image"
         loading="lazy"
         src="{{ fallback_image_url|path_to_url }}"
         alt="{{ alt_text }}"
         style="aspect-ratio: {{ image.width}} / {{ image.height }}"
    >
  </picture>

  {% if original.width > 600 %}
    <p class="image__enlarger">
      <a href="{{ original.url }}" class="image__enlarger-link" target="_blank">
        <span class="image__enlarger-text">View original image</span>
      </a>
    </p>
  {% endif %}
</div>

{% if title %}
  <figcaption class="figure__caption">{{ title }}</figcaption>
  </figure>
{% endif %}
