<div class='image' style="max-width: {{ original_width }}px">
  <div class="image__padder" style="padding-bottom: {{ aspect_padding }}%"></div>
  <picture {% if not alt_text %}aria-hidden="true"{% endif %}>
    {% for format, widths in sources.items %}
      <source srcset="{% for width in widths %}{{ width.url }} {{ width.width}}w{% if not loop.last %}, {% endif %}{% endfor %}" type="{{ format }}">
    {% endfor %}

    <img class="image__image"
         loading="lazy"
         src="{{ image.url }}"
         alt="{{ alt_text }}"
    >
  </picture>
</div>
