<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:atom="http://www.w3.org/2005/Atom"
  >
{% load rss %}

<channel>
  <title>{{ settings.SITE_NAME }}</title>
  <description>{{ settings.SITE_DESCRIPTION }}</description>
  <link>{{ '/'|path_to_url }}</link>
  <language>en-GB</language>

  <items>
    {% for object in object_list %}
      <item>
        <title>{{ object }}</title>
        <link>{{ object.get_absolute_url|path_to_url }}</link>
        <pubDate>{{ object.date|format_rfc2822 }}</pubDate>
        <description>{% if object.meta_description %}{{ object.meta_description }}{% endif %}</description>

        <content:encoded>
          {% include 'posts/post_rss_item.html' %}
        </content:encoded>
      </item>
    {% endfor %}
  </items>
</channel>
