{% extends 'posts/post_list.html' %}

{% load markdown %}
{% load rss %}

{% block title %}
  {% if object.seo_title %}
    {{ object.seo_title}}
  {% else %}
    Category: {{ object}}
  {% endif %}
{% endblock %}

{% block feed_url %}
  {% url 'posts:post_category_feed' category=object.slug as feed_url %}
  <link rel="alternate" type="application/rss+xml" href="{{ feed_url|path_to_url }}" />
{% endblock %}

{% block canonical_url %}
  <link rel="canonical" href="{{ object.get_absolute_url|path_to_url }}">
{% endblock %}

{% block meta %}
  {{ block.super }}

  {% if object.meta_description %}
    <meta name="description" content="{{ object.meta_description }}">
  {% endif %}
{% endblock %}

{% block above_list %}
  <header class="article-list__header">
    <h1 class="article-list__title">
      Posts filed under &ldquo;{{ object }}&rdquo;

      {% if page_obj.number > 1 %}(page {{ page_obj.number }}){% endif %}
    </h1>

    {% if object.description %}
      <div class="article-list__description">
        <div class="markdown">
          {{ object.description|markdown }}

          <p>
            {% url 'posts:post_category_feed' category=object.slug as feed_url %}
            <a href="{{ feed_url }}">RSS feed for this category</a>
          </p>
        </div>
      </div>
    {% endif %}
  </header>
{% endblock %}
