{% extends 'posts/post_list.html' %}

{% load rss %}

{% block title %}Category: {{ object }}{% endblock %}

{% block meta %}
  {{ block.super }}

  <link rel="canonical" href="{{ object.get_absolute_url|path_to_url }}">

  {% if object.description %}
    <meta name="description" content="{{ object.description }}">
  {% endif %}
{% endblock %}

{% block above_list %}
  <header class="article-list__header">
    <h1 class="article-list__title">
      Posts filed under &ldquo;{{ object }}&rdquo;
    </h1>

    {% if object.description %}
      <p class="article-list__description">
        {{ object.description|linebreaksbr }}
      </p>
    {% endif %}
  </header>
{% endblock %}
