<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:atom="http://www.w3.org/2005/Atom"
  >
{% load rss %}
  <channel>
    <title>{{ feed_title }}</title>
    <description>{{ settings.SITE_DESCRIPTION }}</description>
    <link>{{ '/'|path_to_url }}</link>
    <language>en-GB</language>
    {% url 'posts:post_feed' as feed_url %}
    <atom:link href="{{ feed_url|path_to_url }}" rel="self" type="application/rss+xml" />

    {% for object in object_list %}
      <item>
        <title>{{ object }}</title>
        <link>{{ object.get_absolute_url|path_to_url }}</link>
        {% url 'posts:post_detail' identifier=object.identifier as guid_url %}
        <guid>{{ guid_url|path_to_url }}</guid>
        <pubDate>{{ object.date|format_rfc2822 }}</pubDate>
        <description>{% if object.meta_description %}{{ object.meta_description }}{% endif %}</description>

        <content:encoded>
          <![CDATA[
          {% rss_post_body object %}
          ]]>
        </content:encoded>
      </item>
    {% endfor %}
  </channel>
</rss>
