{% extends 'posts/post_list.html' %}

{% load markdown %}
{% load rss %}

{% block title %}Category: {{ object }}{% endblock %}

{% block meta %}
  {{ block.super }}

  <link rel="canonical" href="{{ object.get_absolute_url|path_to_url }}">

  {% if object.meta_description %}
    <meta name="description" content="{{ object.meta_description }}">
  {% endif %}
{% endblock %}

{% block above_list %}
  <header class="article-list__header">
    <h1 class="article-list__title">
      Posts filed under &ldquo;{{ object }}&rdquo;

      {% if page_obj.number > 1 %}(page {{ page_obj.number }}){% endif %}
    </h1>

    {% if object.description %}
      <div class="article-list__description">
        <div class="markdown-area">
          {{ object.description|markdown }}
        </div>
      </div>
    {% endif %}
  </header>
{% endblock %}
