{% load assets markdown %}

{% block everything %}
  <article class="post">
    {% block header %}
      {% if object.title %}
        <header class="post__header">
          {% if detail_page and not object.link %}
            <h1 class="post__title">
              {{ object.title }}
            </h1>
          {% else %}
            <h2 class="post__title">
              <a href="{% if object.link %}{{ object.link }}{% else %}{{ object.get_absolute_url }}{% endif %}" class="post__title-link {% if object.link %}post__title-link--external{% endif %}">
                {{ object.title }}
              </a>
            </h2>
          {% endif %}
        </header>
      {% endif %}
    {% endblock %}

    {% if object.image %}
      <div class="post__image-wrapper">
        {% render_image object.image alt_text=object.alt_text %}
      </div>
    {% endif %}

    {% if object.text %}
      <div class="post__text">
        <div class="markdown">
          {{ object.text|markdown }}
        </div>
      </div>
    {% endif %}

    {% block footer %}
      <footer class="post__footer">
        <p class="post__date">
          posted {{ object.date|date:"Y-m-d" }}

          {% with object.categories.all as categories %}
            {% if categories %}
              under
              {% for category in categories %}
                <a href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %},{% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}

          {% if not detail_page %}
            - <a href="{{ object.get_absolute_url }}">permalink</a>
          {% endif %}

          {% if request.user.is_superuser %}
            - <a href="{% url 'admin:posts_post_change' object.pk %}" target="_blank">edit this</a>
          {% endif %}
        </p>
      </footer>
    {% endblock %}
  </article>
{% endblock %}
